Gmail Weather.json
{
  "name": "Gmail Weather",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "17df382e-6915-4ed3-b936-d99647173c68",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "Nagpur"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "1d2ed0da-635d-44f5-9171-3f84310ff9e0",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "IUBduHLNvDPbBUjx",
          "name": "OpenWeatherMap account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "someones email",
        "subject": "Todays Weather",
        "emailType": "text",
        "message": "=Hey Bro! \nToday's weather- Max: {{ $json.main.temp_max }}\nMin: {{ $json.main.temp_min }}\nDescription: {{ $json.weather[0].description }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "99ec11a4-3b77-4411-9f76-236dc97aa614",
      "name": "Send a message",
      "webhookId": "7e9cbe3a-5ab3-4034-8896-1e9dfb5a0f29",
      "credentials": {
        "gmailOAuth2": {
          "id": "FuTWqID3prDqdnmL",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f4495c1-eaa5-47d7-84a1-7de25bcb3343",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aec54624afc7736713fad4b4aa8a37c901b44b2af526a4d6ef11f45a352ef35"
  },
  "id": "9wr6ZcwfZFRleNst",
  "tags": []
}